@model CRUDMVCCarsRental.Models.RentsViewModel

@{
    ViewData["Title"] = "Confirm Rent";
}

<h1 align="center">Alugar</h1>

<h3 align="center">Confirme os Dados para efetuar o aluguel.</h3>
<div align="center">
    <hr />
    <dl class="row">
        <dt class = "">
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.EndingDate)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.EndingDate)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.DaysRented)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.DaysRented)
        </dd>
    </dl>
    
    <form asp-action="ConfirmRent">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CarId"/>
        <input type="hidden" asp-for="StartingDate" />
        <input type="hidden" asp-for="EndingDate" />
        <input type="hidden" asp-for="Value" />
        <input type="hidden" asp-for="DaysRented" />
        <input type="submit" value="Alugar" class="btn btn-outline-primary m-2" />
        <br />
        <a asp-action="Search">Voltar</a>
    </form>
</div>
