@model CRUDMVCCarsRental.Models.RentsViewModel

@{
    ViewData["Title"] = "Cancelar Aluguel";
}
<h3>Tem certeza que deseja cancelar esse aluguel?</h3>
<div align="center">
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        <dt>
                @Html.DisplayNameFor(model => model.DaysRented)
        </dt>
        <dd class="">
                @Html.DisplayFor(model => model.DaysRented)
    </dl>

    <form asp-action="Cancel">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancelar Aluguel" class="btn btn-danger" /><br />
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>