@model CRUDMVCCarsRental.Models.CarsViewModel

@{
    ViewData["Title"] = "Detalhes";
}
<center><h1>Detalhes</h1></center>

<div align="center">
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FabricationYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FabricationYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt class>
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentValuePerDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentValuePerDay)
        </dd>
    </dl>
</div>
<div align="center">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
